<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ "/" | relative_url }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ "about" | relative_url }}">About</a></li>
        <li class="nav-fables {% if page.url contains 'fables' %} nav-current{% endif %}" role="presentation"><a href="{{ "tag/fables" | relative_url }}">Fables</a></li>
        <li class="nav-speeches {% if page.url contains 'speeches' %} nav-current{% endif %}" role="presentation"><a href="{{ "tag/speeches" | relative_url }}">Speeches</a></li>
        <li class="nav-fiction {% if page.url contains 'fiction' %} nav-current{% endif %}" role="presentation"><a href="{{ "tag/fiction" | relative_url }}">Fiction</a></li>
        <li class="nav-author {% if page.url contains 'casper' %} nav-current{% endif %}" role="presentation"><a href="{{ "author/casper" | relative_url }}">Casper</a></li>
        <li class="nav-author {% if page.url contains 'edgar' %} nav-current{% endif %}" role="presentation"><a href="{{ "author/edgar" | relative_url }}">Edgar</a></li>
        <li class="nav-author {% if page.url contains 'abraham' %} nav-current{% endif %}" role="presentation"><a href="{{ "author/abraham" | relative_url }}">Abraham</a></li>
        <li class="nav-author {% if page.url contains 'martin' %} nav-current{% endif %}" role="presentation"><a href="{{ "author/martin" | relative_url }}">Martin</a></li>
        <li class="nav-author {% if page.url contains 'lewis' %} nav-current{% endif %}" role="presentation"><a href="{{ "author/lewis" | relative_url }}">Lewis</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ "feed.xml" | relative_url }}">Subscribe</a>
</div>
<span class="nav-cover"></span>
