<!DOCTYPE html>
<html>
<head>
    <!-- [[! Document Settings ]] -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/ghost.min.css">
  </head>
  <body class="">
    <main role="main" id="main">
      <div id="container">
        {{ content }}
      </div>
    </main>
    <!-- Add Google Analytics  -->
    {% include analytics.html %}   
  </body>
</html>